<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre del Libro</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="bookUpdated.name" name="name" value={{book?.name}}>
  </div>
  <div class="mb-3">
    <label for="authorId" class="form-label">Autor</label>
    <select class="form-select" id="authorId" name="authorId" [(ngModel)]="bookUpdated.authorId">
      <option selected disabled>{{book?.author?.name}}</option>
      <option *ngFor="let author of authors" value={{author.id}}>{{author.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Categoría</label>
    <select class="form-select" id="categoryId" name="categoryId" [(ngModel)]="bookUpdated.categoryId">
      <option selected disabled>{{book?.category?.name}}</option>
      <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
      <input type="text" class="form-control" id="price" [(ngModel)]="bookUpdated.price" name="price"
        value={{book?.price}}>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="status" id="status" [(ngModel)]="bookUpdated.status"
        [checked]="book?.status" (change)="onCheckboxChange($event)">
      <label class="form-check-label" for="status">
        ¿Activo?
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
  <a [routerLink]="['/book-administration']" class="btn btn-secondary mt-3">Cancelar</a>
</form>