<form>
  <div class="mb-3">
    <label for="name" class="form-label">Nombre del Libro</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre del libro">
  </div>
  <div class="mb-3">
    <label for="authorId" class="form-label">Autor</label>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled>Seleccione una opcion</option>
      <option *ngFor="let author of authors" value={{author.id}}>{{author.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Categoría</label>
    <select class="form-select" aria-label="Terror">
      <option selected disabled>Seleccione una opcion</option>
      <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>
  </div>
  <!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" id="status" checked>
    <label class="form-check-label" for="status">Activo</label>
  </div> -->
  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>